---
import { getCollection } from 'astro:content';
import BaseHtml from '../../components/BaseHtml.astro';
import Listing from '../../components/Listing.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseHtml description="John, aka burntcustard\'s blog">
	<h1>Blog</h1>

	<section>
		{posts.map((post) => (
			<Listing
				title={post.data.title}
				href={`/blog/${post.id}`}
				date={post.data.pubDate}
				excerpt={post.data.excerpt}
			/>
		))}
	</section>
</BaseHtml>
