p a {
  --highlight-color: var(--off-white);
  position: relative;
  color: var(--yellow);
  text-shadow:
    0 1px 0 var(--gray-darker),
    0 -1px 0 var(--gray-darker),
    1px  0 var(--gray-darker),
    -1px 0 0 var(--gray-darker);
  background-image:
    linear-gradient(
      transparent calc(100% - 4px),
      var(--highlight-color) 0 calc(100% - 3px),
      transparent 0
    ),
    linear-gradient(
      transparent calc(100% - 1px),
      var(--highlight-color) 0 100%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, 0 100%;
  transition: background-size .2s;
}

p a:before {
  position: absolute;
  inset-block: 1px;
  inset-inline: 0;
  content: '';
  outline: 1px solid var(--highlight-color);
  opacity: 0;
  transition: opacity .2s;
}

p a:hover {
  background-size: 100% 100%, 100% 100%;
}

p a:focus {
  outline: none;
}

p a:focus:before {
  opacity: 1;
}

p a:active {
  --highlight-color: var(--white);
}
