---
import BaseHtml from "../components/BaseHtml.astro";
import BigHeading from "../components/BigHeading.astro";
---

<BaseHtml>
  <header>
    <BigHeading>
      404
    </BigHeading>
  </header>

  <p>
    Page cannot be found. <a  href="/">Return to burnt.io</a>
  </p>
</BaseHtml>
