---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en-GB">
	<BaseHead title={title} description={description} />
  <body>
		<Header />
		<main>
      <slot />
    </main>
  </body>
</html>
