<style>
  h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    color: var(--yellow);
    opacity: .9;
    font-size: clamp(3.5rem, 3.3rem + 1vw, 4.5rem);
    letter-spacing: 0;
  }
</style>

<h1>
  <slot />
</h1>
